
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.954856719987!2d-83.74137900000001!3d42.279486999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883cae3f7c142593%3A0x249796361efa6489!2sAmerican+Apparel!5e0!3m2!1sen!2sin!4v1418905123643"
      frameborder="0" style="border:0"></iframe>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footer-text">
        <p>DESIGN BY <a href="http://w3layouts.com/"> W3LAYOUTS</a></p>
      </div>
    </div>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  </div>
  